body {
  font-family: 'Roboto', sans-serif;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 4.5rem;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
}

.bg-blue {
  background-color: #1A8AB8;
}

.navbar-brand img{
  width: 6rem;
}

header img{
 width: 100%;
}

.experiencia h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
}

.iconos {
  display: inline-block;
}

.iconos h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  padding-top: 2rem;
}

.iconos h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 0.3rem;

}

.mis-trabajos h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: #ffffff;
}

.rrss {
  display: inline-block;
  color: #ffffff;
}
